.side_ankerpane {
    -fx-background-color: #353a56;
    /*-fx-border-olor: #2207bb;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.inner_pane {
    -fx-background-color: #748CF1;
    /*-fx-border-olor: #2207bb;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}
.nice-button {
    -fx-background-color: #3c4a99; /* Color de fondo azul */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 5px 10px; /* Padding */
    -fx-border-radius: 5px; /* Radio de borde */
    -fx-background-radius: 5px; /* Radio de fondo */
    -fx-min-width: -Infinity; /* Ancho mínimo */
}

.nice-button:hover {
    -fx-background-color: #2c3879; /* Color de fondo al pasar el ratón */
    -fx-text-fill: white; /* Color del texto (mantenido igual) */
}

.main-pane {
    -fx-background-color: #f0f0f0; /* color de fondo */
}

.welcome-label {
    -fx-font-size: 24px; /* tamaño de fuente */
    -fx-font-weight: bold; /* negrita */
    -fx-text-fill: #333333; /* color del texto */
    -fx-alignment: center; /* alineación centrada */
}