.side_ankerpane {
    -fx-background-color: #353a56;
    /*-fx-border-olor: #2207bb;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.inner_pane {
    -fx-background-color: #748CF1;
    /*-fx-border-olor: #2207bb;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.combo-box-no-procede {
    -fx-background-color: red;
    -fx-text-fill: black;
}

.blue-button {
    -fx-background-color: blue;
    -fx-text-fill: white; /* Color del texto en blanco para mejor contraste */
}